{{ define "content" }} 
<div class="products">
  <div class="full-card">

    <div class="slider">

      
      <div class="img">
        <img src="../static/pictures/11.jpg" class="drons">
    </div>
    <div class="img">
        <img src="../static/pictures/12.jpg" class="drons">
    </div>
    <div class="img">
        <img src="../static/pictures/13.jpg" class="drons">
    </div>
    <div class="img">
      <img src="../static/pictures/14.jpg" class="drons">
    </div>
      
      <button class="last" onclick="last()"></button>
      <button class="next" onclick="next()"></button>

    </div>
      
      <div class="info">
          <h3 class="product-title">Drone Model 1</h3>
          <p class="product-price">₽49,990</p>
          <div class="buy">
            <button class="buy-btn">Купить</button>
          </div>
        </div>
      </div>
    
      <div class="full-card">

        

          
    <div class="slider">

      
      <div class="img">
          <img src="../static/pictures/21.jpg" class="drons">
      </div>
      <div class="img">
          <img src="../static/pictures/22.jpg" class="drons">
      </div>
      <div class="img">
          <img src="../static/pictures/23.jpg" class="drons">
      </div>
      
      
      <button class="last" onclick="last()"></button>
      <button class="next" onclick="next()"></button>

    </div>


        <div class="info">
          <h3 class="product-title">Drone Model 2</h3>
          <p class="product-price">₽59,990</p>
          <div class="buy">
            <button class="buy-btn">Купить</button>
          </div>
        </div>
      </div>
    
      <div class="full-card">
        
    <div class="slider">

      
      <div class="img">
        <img src="../static/pictures/31.jpg" class="drons">
    </div>
    <div class="img">
        <img src="../static/pictures/32.jpg" class="drons">
    </div>
    <div class="img">
        <img src="../static/pictures/33.jpg" class="drons">
    </div>
   
      
      <button class="last" onclick="last()"></button>
      <button class="next" onclick="next()"></button>

    </div>
        <div class="info">
          <h3 class="product-title">Drone Model 3</h3>
          <p class="product-price">₽69,990</p>
          <div class="buy">
            <button class="buy-btn">Купить</button>
          </div>
        </div>
      </div>
    
</div>


<script>
function initSlider(slider) {
  let slides = slider.getElementsByClassName('img');
  let slideIndex = 1;
  showSlides(slider, slideIndex);

  slider.querySelector('.next').addEventListener('click', () => {
      showSlides(slider, slideIndex += 1);
  });

  slider.querySelector('.last').addEventListener('click', () => {
      showSlides(slider, slideIndex -= 1);
  });

  function showSlides(slider, n) {
      if (n > slides.length) {
          slideIndex = 1;
      }
      if (n < 1) {
          slideIndex = slides.length;
      }

      for (let slide of slides) {
          slide.style.display = 'none';
      }
      slides[slideIndex - 1].style.display = 'block';
  }
}

document.querySelectorAll('.slider').forEach(initSlider);
</script>

{{ end }}