{{ define "content" }} 

<table width="100%">
    <tr>
      <td align="left">
        <div class="full-card">
          <div class="img">
            <img src="../static/pictures/11.jpg" class="drons">
          </div>
          <div class="info">
            <h3 class="product-title">Drone Model 1</h3>
            <p class="product-price">₽49,990</p>
            <div class="buy">
              <button class="buy-btn">Купить</button>
            </div>
          </div>
        </div>
      </td>
      <td align="center">
        <div class="full-card">
          <div class="img">
            <img src="../static/pictures/12.jpg" class="drons">
          </div>
          <div class="info">
            <h3 class="product-title">Drone Model 2</h3>
            <p class="product-price">₽59,990</p>
            <div class="buy">
              <button class="buy-btn">Купить</button>
            </div>
          </div>
        </div>
      </td>
      <td align="right">
        <div class="full-card">
          <div class="img">
            <img src="../static/pictures/13.jpg" class="drons">
          </div>
          <div class="info">
            <h3 class="product-title">Drone Model 3</h3>
            <p class="product-price">₽69,990</p>
            <div class="buy">
              <button class="buy-btn">Купить</button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  

{{ end }}